<ion-header>
  <ion-toolbar>
    <ion-title>
      Advogada Feminista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Amor não é submissão</ion-card-subtitle>
        <ion-card-title>Conheça a Raquel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A plataforma “Raquel” permitirá que as mulheres busquem informações e orientações jurídicas sobre como proceder em situação de violência contra este gênero.</p>
      </ion-card-content>
    </ion-card>

    <ion-input placeholder="Se cadastrar" [(ngModel)]="email"></ion-input>
      <ion-item (click)="buttonClick()" detail>
        <ion-label>
          Button Item with Detail Arrow
        </ion-label>
      </ion-item>
</ion-content>

